.thumbnail-size {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
}


@media (max-width:800px){
  .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .card-details, .card-review {
    width: 75vw;
  }
}
